/*Con un display flex, justify-content: center, lo centra en el eje X,
align-items: center en el eje Y*/

*{
	margin: 0;
	padding: 0;
	font-family: "Nunito";
}

body {
	background-color: #CAE4DB;
}

input:focus{
	-webkit-box-shadow: 0px 0px 8px 7px rgba(220,174,29,1);
	-moz-box-shadow: 0px 0px 8px 7px rgba(220,174,29,1);
	box-shadow: 0px 0px 8px 7px rgba(220,174,29,1);
}


				/*  CONTAINER  */
/*--------------------------------------------*/
.contenedor{
	display: flex;
	flex-direction: column;
	
	/*Este space between junto con 100vh permite alejar el footer
	al final. Con un flex-grow en el main hacemos mas grande
	este*/
	justify-content: space-between;
	min-height: 100vh;
}

				/*  HEADER  */
/*--------------------------------------------*/
header{
	display: flex;
	flex-direction: row;

	/*------------------------------------------*/
	align-items: center;
	justify-content: space-between;
	background-color: #00303F;
	color: white;
	height: 50px;
}

				/*  Logo  */
/*--------------------------------------------*/

header #logo{
	display: flex;
	padding: 0px 15px;
	text-decoration: none;
	justify-content: center;
	border-radius: 15px;
}

/*logo letras*/
header #logo p{
	font-size: 25px;
	color: white;
}

				/*  Buscador  */
/*--------------------------------------------*/

/*div buscador*/
header #formCabecera{
	display: flex;
	justify-content: center;
}

/*Barra buscador*/
header #formCabecera input{
	height: 2.5em;
	width: 35em;
	border-radius: 15px;
	padding: 0px 20px;
}

				/*  Enlaces */
/*--------------------------------------------*/

header #enlaces{
	display: flex;
	justify-content: end;
	font-size: 18px;
}

/*botones enlaces*/
header #enlaces a{
	text-decoration: none;
	padding: 15px 20px;
	border-radius: 15px;
	color: white;
}

header #enlaces a:hover{
	background-color: #7A9D96;
}

				/* MAIN */
/*--------------------------------------------*/

main {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
}

			/* Left side bar */
/*--------------------------------------------*/


main #leftSideBar{
	display: flex;
	flex-direction: column;
	width: 19%;
	border-right: 5px groove #00303F;
	background-color: #7A9D96;
}

main #leftSideBar a{

	display: flex;
	text-decoration: none;
	padding: 15px;
  	border-bottom: 3px groove #00303F;
	justify-content: center;
	color: white;
	font-size: 20px;
}

main #leftSideBar a:hover{
	background-color: #025E7A;
	border: 3px groove #00303F;
	transform: scale(1.15);
}

			/* Content */
/*--------------------------------------------*/

main .content{
	display: flex;
	flex-direction: column;
  	margin: 1.10%;
	background-color: #7A9D96;
	border: 5px groove #00303F;
	border-radius: 15px;
	width: 100%;
}

main .content{
	color: white;
}

main .mensaje{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #00303F;
	width: 100%;
}

			/* Mostrar productos */
/*--------------------------------------------*/
main .content #productos{
	text-decoration: none;
}

main .content #productos #panelProducto{
	display: flex;
	flex-direction: column;
	border-bottom: 5px solid #00303F;
	border-top: 5px solid #00303F;
	background-color:#CAE4DB;
	margin: 0.40%;
	border-radius: 10em;
	color: #00303F;
}

main .content #productos #panelProducto:hover{
	transform: scale(1.03);	
}

main .content #productos #panelProducto p{
	display: flex;
	justify-content: center;
	font-size: 1.75em;
	margin-bottom: -1.15em;
}

main .content #productos #panelProducto #precio, main .content #productos #panelProducto .stock{
	display: flex;
	font-size: 2em;
	flex-grow: 2;
}

main .content #productos #panelProducto #parteInf{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding-right: 10px;
}

main .content #productos #panelProducto #parteInf img{
	display:flex;
	flex-grow: 3;
	max-width: 15%;
	border-radius: 10em;
}


	/* Form Inicial (Login y Registro) */
/*--------------------------------------------*/

main #formInicial{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #025E7A;
	color: white;
	width: 100%;
}

main .grupo-control, main .grupo-control-2{
	display:flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}

main #formInicial .grupo-control h1{
	font-size: 2em;
	padding-bottom: 20px;
	color: white;
}

main #formInicial .grupo-control p, .grupo-control-2 p{
	font-size: 1.15em;
	padding-bottom: 20px;
}


main #formInicial .grupo-control input, .grupo-control-2 input{
	height: 2em;
	width: 15em;
	border-radius: 15px;
	text-align: center;
}

button{
	color: white;
	border-radius: 15px;
	background-color: #7A9D96;
	border: 3px solid #00303F;
	padding: 15px;
	font-weight: bolder;
}
button:hover{
	background-color: #DCAE1D;
}


/*especiales para el registro*/
main #formInicial #registro .line-1, .line-2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


/*especiales para el perfil*/

main #formInicial #perfil .line-3{
	margin-top: 10%;
	background-color: #7A9D96;
	width: 100%;
}



				/* PRODUCTO */
/*---------------------------------------------*/

.panel1, .panel2, .panel3{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.panel1{
	padding-left: 4%;
	padding-right: 4%;
	height: 80vh;
}
.panel1 img{
	width: auto;
	height: 400px;
	border-radius: 15%;
	border: 5px solid #00303F;
	padding: 8px;
	background-color:#025E7A;
}

.panel1-2{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	padding: 2%;
}

.panel1-2 p{
	padding: 2%;
	font-family: monospace;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: justify;
}

.panel2{
	justify-content: space-around;
	width: 70%;
	padding-left: 25%;
}

.panel2 h2{
	font-size: 2.5em;
}

.panel3{
	margin: 2%;
	margin-top: 30px;
	height: 50vh;
	border-radius: 5%;
	border: 5px solid #00303F;
	padding: 8px;
	background-color:#025E7A;
}


			/*Lista de la compra*/
/*---------------------------------------------*/

.line-4{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 120%;
	margin: 3%;
}
.line-4 a{
	text-decoration: none;
	border: 2px solid #00303F;
	color: white;
	background-color: #DCAE1D;
	padding: 5px;
}





				/* FOOTER */
/*--------------------------------------------*/

footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 0.75em;
	padding: 15px 15px;
	background-color: #00303F;
	color: white;
}


